/* HEADER */
header {
    background: rgba(19, 19, 19, 0.8);
    backdrop-filter: blur(12px);
    padding: 1em;
    border-bottom: 1px solid rgba(73, 68, 84, 0.3);
    text-align: center;
    margin-bottom: 2.5em;
}

header h1 {
    font-family: Montserrat;
    font-size: 2.5em;
    font-weight: 800;
    color: #D0BCFF;
    margin: 0;
}

/* FORM SECTION */
form {
    margin-bottom: 8em;
}

form .btn-container {
    background: rgba(19, 19, 19, 0.9);
    padding: 1em;
    backdrop-filter: blur(24px);
    border-top: 1px solid rgba(73, 68, 84, 0.2);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

form .btn-container button {
    width: 98%;
    font-family: Montserrat;
    font-size: 1.25em;
    font-weight: 600;
    color: #3C0091;
    background: #D0BCFF;
    padding: 1em 0;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 rgba(208, 188, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    cursor: pointer;
}

form .btn-container button.play-again {
    color: white;
    background: #8B5CF6;
    box-shadow: 0 10px 20px 0 rgba(139, 92, 246, 0.3);
}

/* LOADIND ANIMATION */
/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  margin: 10em auto;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#D0BCFF 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

/* SECTION: QUIZ COMPLETED */
.quiz-completed {
    text-align: center;
}

.quiz-completed h2 {
    font-family: Montserrat;
    font-size: 2.5em;
    font-weight: 800;
    color: #D0BCFF;
    margin-bottom: 0;
}

.quiz-completed p {
    font-family: Montserrat;
    font-size: 1.25em;
    font-weight: 500;
    color: #E5E2E1;
    background: rgba(30, 30, 30, 0.6);
    width: 94%;
    margin: 1em auto 2em;
    padding: 1.25em 0;
    border: 1px solid rgba(208, 188, 255, 0.2);
    border-radius: 2em;
}

.quiz-completed span {
    color: #4CD7F6;
    font-weight: 600;
}