body {
    color: white;
    height: 100vh;
    background-color: #0A0A0A;
    background-image: 
        radial-gradient(circle at 10% 30%, rgba(208, 188, 255, 0.1) 0%, transparent 45%),
        radial-gradient(circle at 110% 65%, rgba(76, 215, 246, 0.1) 0%, transparent 45%);
}